body{
    margin: 0;
    scroll-behavior: smooth;
    
}

.logo{
    letter-spacing: 5px;
    font-size: 1.3em;
}
header{
    height: 2vh;
    background-color: rgb(22, 25, 27);
    padding: 2rem 0;
    padding-left: 5%;
    padding-right: 10%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
header a{
    color: white;
    text-decoration: none;
}
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.2s;
}
.navigation ul li a:hover{
    background: rgb(136, 25, 25)
}
#ban{
    padding-top: 4rem;;
}
.banner {
    
    display: flex;
    width: 100%;
    height: 95vh;
}
#item{
    width: 100%;
    background-image: url(imagen/edi.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.linea{
    margin-top: -30px;
    height: 2px;
    background-color: rgb(136, 25, 25);
    width: 25%;

}
#repre{
    font-family: monospace;
    padding: 30px;
    color: rgb(255, 255, 255);
    font-size: 3vw;
    background-color: rgba(22, 25, 27, 0.842);
    width: 35vw;
}
#item img{
    width: 100%;
}
#item1{
    background-color: rgb(22, 25, 27);
    height: 100%;
    width: 100%;
}
#item2{
    height: 100%;
    background: rgb(255, 255, 255);
    width: 100%;
}
#item3{
    background-color: rgb(136, 25, 25);
    height: 100%;
    width: 50vw;
}
#item4{
    height: 100%;
    background: rgb(22, 25, 27);
    width: 50vw;
}
.img{
    text-align: center;
    margin: 10% 15%;
    width: 67%;
    color: rgb(255, 255, 255);
    font-size: 45px;
    justify-content: center;
}
@media screen and(max-width: 600px)
{
    .banner{
        flex-direction: column;
    }
}