body{
    margin: 0;
    scroll-behavior: smooth;
    
}

.logo{
    letter-spacing: 5px;
    font-size: 1.3em;
}
header{
    height: 2vh;
    background-color: rgb(22, 25, 27);
    padding: 2rem 0;
    padding-left: 5%;
    padding-right: 10%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
header a{
    color: white;
    text-decoration: none;
}
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.2s;
}
.navigation ul li a:hover{
    background: rgb(136, 25, 25)
}
#ban{
    padding-top: 4rem;;
}
.banner {
    
    display: flex;
    width: 100%;
    height: 95vh;
    flex-direction: row;
}
#item{
    width: 100%;
    background-image: url(../imagen/edi.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.linea{
    margin-top: -30px;
    height: 2px;
    background-color: rgb(136, 25, 25);
    width: 25%;

}
#repre{
    font-family: monospace;
    padding: 30px;
    color: rgb(255, 255, 255);
    font-size: 3vw;
    background-color: rgba(22, 25, 27, 0.842);
    width: 35vw;
}
#item img{
    width: 100%;
}
#item1{
    background-color: rgb(22, 25, 27);
    height: 100%;
    width: 100%;
}
#item2{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    width: 100%;
    color: rgb(136, 25, 25);
    font-size: 306%;
}
.img{
    text-align: center;
    margin: 10% 15%;
    width: 67%;
    color: rgb(255, 255, 255);
    font-size: 45px;
    justify-content: center;
}
#direc{
    color: rgb(128, 55, 55);
    font-size: 20px;
}

/*cards*/
.containero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;
}
.containero .card{
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(22, 25, 27, 0.842),
                inset -5px -5px 15px rgba(255, 255, 255, 0.1),
                5px 5px 15px rgba(0, 0, 0, 0.3),
                -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;

}
.containero .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border: 2px solid #1e1f23;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.containero .card .box:hover{
   transform: translateY(-50px);
   box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
   
}
.perfil{
    width: 40%;
}
.logoa{
    width: 30px;
    margin-right: 10px;
}
.cargo{
    
    color: rgba(172, 107, 107, 0.664);
    border-color: white;
}
.content{
    padding: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
}



@media screen and (max-width: 800px)
{
    header{
        height:5vh;
        position: absolute;
    }
    header a{
        margin-top: -30px;
    }
    #ban{
        padding-top: 14vh;
    }
    .banner{
        flex-direction: column;
        padding-bottom: 0;
        height: auto;
    }
    
   
}